.set-target-page {
  max-width: 420px;
  margin: 110px auto 120px auto;
  padding: 30px;

  background: #041c32;
  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.35);

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ECB365;
}

/* TITLE */

.set-target-page h1 {
  margin-bottom: 30px;
  text-align: center;
}

/* FORM */

.set-target-page form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* INPUT GROUP */

.input-group {
  display: grid;
  grid-template-columns: 90px 1fr 70px;
  align-items: center;
}

/* LABEL */

.input-group-text {
  background: #041c32;
  border: none;
  color: #ECB365;
  justify-content: center;
}

/* INPUT */

.form-control {
  background: #04293a;
  border: 1px solid #064663;
  color: #ECB365;
  border-radius: 6px;
}

/* BUTTON */

.set-target-page button {
  width: 200px;
  margin: 25px auto 0;

  background: transparent;
  border: 2px solid #ECB365;
  color: #ECB365;

  padding: 10px;
  border-radius: 8px;

  font-weight: bold;
  transition: all 0.3s ease;
}

.set-target-page button:hover {
  background: #F2613F;
  border-color: #F2613F;
  color: white;
}