.navbar {
    background-image: linear-gradient(to right, #041c32, #04293a, #064663);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
    padding: 0 1vw;
    height: 2vh; 
    position: relative;
  }
  
  .navbar-logo {
    height: 40px;
  }
  
  .navbar h1 {
    color: #ecb365;
    margin: 0;
    animation: fadeIn 5s forwards;
    padding-left: 100px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .navbar a,
  .navbar button {
    color: #ecb365;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover,
  .navbar button:hover {
    background-color: rgba(236, 179, 101, 0.2);
  }
  
  .navbar .username-button button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar .logout {
    border-radius: 5px;
    width: auto;
    padding: 10px 25px 10px 0px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  .navbar .username-logout {
    display: flex;
    align-items: center;
  }
  
  .navbar .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .username-logout .auth-buttons {
    border-radius: 5px;
    width: auto;
    padding: 10px 25px 10px 0px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  /* Responsive Adjustments */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding: 10px 1vw;
    }
  
    .navbar-logo {
      margin-top: 10px;
    }
  
    .navbar h1 {
      position: relative;
      left: auto;
      padding-left: 0;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .navbar .username-logout {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar .auth-buttons {
      margin-top: 10px;
    }
  }
  
