/* LandingPage container */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-45deg, #041C32, #04293A, #064663, #ECB365);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  .content {
    text-align: center;
    color: #ECB365; 
    padding: 0 20px; 
  }
  
  .content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .content button {
    background-color: #ECB365; 
    color: #041C32; 
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .content button:hover {
    background-color: #064663; /* Dark cyan */
  }

  @media (max-width: 1024px) {
    .content h1 {
      font-size: 2.5rem;
    }
  
    .content p {
      font-size: 1.2rem;
    }
  
    .content button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 768px) {
    .content h1 {
      font-size: 2rem;
    }
  
    .content p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
  
    .content button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 1.8rem;
    }
  
    .content p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  
    .content button {
      font-size: 0.9rem;
      padding: 8px 14px;
    }
  }
  /* Background gradient animation */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  